@using BorisLib.Grid
<CascadingValue Value="@(this)">
    @Items
</CascadingValue>

<div class="BorisGrid" style="--num-columns: @Columns; @Style">
    @foreach (var gridItem in _items)
    {
        if (ItemTemplate != null)
        {
            @ItemTemplate(gridItem)
        }
        else
        {
            <div class="BorisGridItem" style="@gridItem.StyleString @gridItem.Style">
                @gridItem.ChildContent
            </div>
        }
    }
</div>